@media screen and (max-width: 56.25rem){ 
    #whole{
        display: block;
        padding: 0%;
    }
    .exp>label[for="job"]{
        padding: 75px;
        }
}
@media screen and (max-width: 37.5rem){
    
}
@media screen and (max-width: 75rem){
    #about{
        display: block;
    }
    .sador>img{
        width: 40%;
        height: 40%;
    }
    .sador{
        text-align: center;
    }
    .div>ul{
        display: block;
    }
    .div>ul>li{
        border-right: none;
    }
    #whole{
        background-image: none;
    }
    #work{
        flex: 1.5;
    }
    .articles{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 52.4rem){
    #talk>p{
        font-size: 15px;
    }
    #talk>h1,#talk>h2{
        font-size: 20px;
    }
    .col1,.col2,.col3{
        margin-left: 25%;
        width: 50%;
        float: none;
    }
    iframe{
        width: 350px;
        height: 400px;
        padding-right: 50%;
       
    }
}
@media screen and (max-width: 81.25rem){
    #formation{
        display: block;
    }
    #comment{
        margin-right: 0%;
        margin-bottom: 1%;
        padding: 0%;
    }
    .form2,.form3{
        padding: 1%;
    }
    
}
@media screen and (max-width: 81.25rem) and (min-width: 50rem){
    #comment{
        padding: 3%;
        display: flex;
    }
    #general1{
        flex: 1;
    }
    #general2{
        flex: 2;
    }
}

