/* Changing the default */
body{
    padding: 0;
    margin: 0;
    background-color: #fbf9f4;
}
#Ethiopia,#Armenia,#India,#Germany,#Japan,#Algeria,#Burkina,#Czech,#Honduras,#Panama,#Switzerland,#Sudan,
#Liberia,#Kuwait,#Israel,#Congo{
    border: 1px solid transparent;
    width: 12.5rem;
    height: 9.375rem;
    flex: 1;
    margin: 5rem;
    box-shadow: 0 10px 30px rgba(0,0,0.3);
}
/* All boxs */
/* Ethiopian Flag */
.Eth_green{
    height: 33.3%;
    background-color: green;
}
.Eth_yellow{
    position: relative;
    height: 33.3%;
    background-color: yellow; 
}
.Eth_red{
    height: 33.3%;
    background-color: red;
}
.Eth_circle{
    position: absolute;
    border: 2px solid #00AFD7;
    background-color: #00AFD7;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    top: -0.5625rem;
    left: 4rem;
}
.Eth_star{
    position: absolute;
    font-size: 3rem;
    color: #FEDD00;
    left: 0.5rem;
    top: -0.1875rem;
}
.line1{
    position: absolute;
    font-size: 1.2rem;
    color: #FEDD00;
    left: 1.9rem;
    top: 2.4rem;
}
.line2{
    position: absolute;
    font-size: 1.2rem;
    color: #FEDD00;
    transform: rotate(130deg);
    left: 1.1rem;
    top: 0.7rem;
}
.line3{
    position: absolute;
    font-size: 1.2rem;
    color: #FEDD00;
    transform: rotate(-110deg);
    left: 0.7rem;
    top: 1.9rem;
}
.line4{
    position: absolute;
    font-size: 1.2rem;
    color: #FEDD00;
    transform: rotate(-140deg);
    margin-left: 2.5rem;
    margin-top: 0.8rem;
}
.line5{
    position: absolute;
    font-size: 1.2rem;
    color: #FEDD00;
    transform: rotate(110deg);
    left: 3rem;
    top: 1.9rem;
}
/* Armenian Flag */
.Armenia1{
    height: 33.3%;
    background-color: #DA291C;
    
}
.Armenia2{
    background-color: #0033A0;
    height: 33.3%;
}
.Armenia3{
    background-color: #FF9E1B;
    height: 33.3%;
}
/* India Flag */
.India1{
    background-color: #FF8F1C;
    height: 33.3%;
}
.India2{
    position: relative;
    background-color: #FFFFFF;
    height: 33.3%;
}
.India3{
    background-color: #509E2F;
    border: 2px solid #509E2F; 
    height: 33.3%;
}
.circle{
    position: absolute;
    width: 3rem;
    height: 3rem;
    border: 3px solid #250E62 ;
    border-radius: 50%; 
    left: 4.5rem;
}
.stripe1,.stripe2,.stripe3,.stripe4,.stripe5,.stripe6,.stripe7,.stripe8,.stripe9,.stripe10,.stripe11,.stripe12
{
    top: 1.5rem;
    width: 3rem;
    height: 0px;
    border: 0.5px solid #250E62;
    position: absolute;
    margin: auto;
}
.stripe2{
    transform: rotate(90deg);
}
.stripe3{
    transform: rotate(15deg);
}
.stripe4{
    transform: rotate(30deg);
}
.stripe5{
    transform: rotate(45deg);
}
.stripe6{
    transform: rotate(60deg);
}
.stripe7{
    transform: rotate(75deg);
}
.stripe8{
    transform: rotate(-15deg);
}.stripe9{
    transform: rotate(-30deg);
}
.stripe10{
    transform: rotate(-45deg);
}
.stripe11{
    transform: rotate(-60deg);
}
.stripe12{
    transform: rotate(-75deg);
}
/* Germany flag */
.Germany1{
    height: 33.3%;
    background-color: #000000;
}
.Germany2{
    background-color: #DA291C;
   height: 33.3%;
}
.Germany3{
    height: 33.3%;
    background-color: #FFCD00;
    
}
/* Japan flag */
#Japan{
    position: relative;
    background-color: #FFFFFF;
}
.japan{
    position: absolute;
    border: 2px solid red;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: red;
    top: 2.1875rem;
    left: 3.7rem;
}
/* Algeria flag */
#Algeria{
    position: relative;
}
.Algeria1,.Algeria2{
    position: absolute;
}
.Algeria1{
    background-color: #007A33;
    width: 50%;
    height: 100%;
}
.moon{
    position: absolute;
    width: 4rem;
    height:4rem;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0.625rem 0.625rem 0 0 #C8102E;
    transform: rotate(135deg);
    left: 5.5rem;
    top: 2.7rem;
}
.star{
    position: absolute;
    font-size: 4rem;
    color: #C8102E;
    transform: rotate(25deg);
    left: 6rem;
    top: 1.8rem;
}
/* Burkina Faso flag*/
.burkina1{
    background-color: #EF3340;
    height: 50%;
    width: 100%;
}
.burkina2{
    position: relative;
    background-color: #009639;
    width: 100%;
    height: 50%;
}
.burkinastar{
    top: -50px;
    color: #FDDA24;
    position: absolute;
    font-size: 4rem;
    left: 4rem;
}
/* Czech Republic Flag */
#Czech{
    position: relative;
}
.Czech1{
    background-color: #ffffff;
    height: 50%;
    width: 100%;
}
.Czech2{
    background-color: #d7141a;
    height: 50%;
    width: 100%;
}
.Czech3{
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 4.7rem solid transparent;
    border-left: 5.8rem solid #11457e;
    border-bottom: 4.7rem solid transparent;
}
/* Honduras Flag */
.honduras1{
    width: 100%;
    height: 33.3%;
    background-color: #0072CE;
}
.hond2{
    position: relative;
    width: 100%;
    height: 33.3%;
    background-color: #ffffff;
}
.hond3{
    width: 100%;
    height: 33.3%;
    background-color: #0072CE;
}
.hond4{
    position: absolute;
    left: 3rem;
    font-size: 1.25rem;
    position: absolute;
    color: #0072CE;
}
.hond5{
    position: absolute;
    left: 8rem;
    font-size: 1.25rem;
    position: absolute;
    color: #0072CE;
}
.hond6{
    top: 1.5rem;
    position: absolute;
    left: 3rem;
    font-size: 1.25rem;
    position: absolute;
    color: #0072CE;
}
.hond7{
    position: absolute;
    left: 8rem;
    top: 1.5rem;
    font-size: 1.25rem;
    position: absolute;
    color: #0072CE;
}
.hond8{
    position: absolute;
    top: 0.7rem;
    left: 5.5rem;
    font-size: 1.25rem;
    position: absolute;
    color: #0072CE;
}
/* Panama flag */
#Panama{
    position: relative;
}
.panama,.panama1,.panama2,.panama3{
    position: absolute;
    width: 50%;
    height: 50%;
}
.panama{
    background-color: #ffffff;
    top: 28rem;
    left: 20rem;
}
.panama1{
    right: 0;
    background-color: #C8102E;
}
.panama2{
    bottom: 0;
    background-color: #005EB8;
}
.panama3{
    right: 0;
    bottom: 0;
    background-color: #ffffff;
}
.panama4{
    position: absolute;
    color: #005EB8;
    font-size: 4rem;
    top: -0.5rem;
    left: 1rem;
}
.panama5{
    position: absolute;
    color: #005EB8;
    font-size: 4rem;
    bottom: 0;
    right: 1.5rem;
}
/* switzerland flag */
#Switzerland{
    position: relative;
    background-color: #DA291C;
}
.switzerland{
    position: absolute;
    border: 1px solid white;
    top: 20%;
    bottom: 20%;
    width: 1rem;
    height: 60%;
    background-color: white;
    left: 45%;
}
.switzerland1{
    position: absolute;
    border: 1px solid white;
    left: 20%;
    top: 40%;
    bottom: 20%;
    height: 1rem;
    width: 60%;
    background-color: white;
}
/* Sudan flag */
#Sudan{
    position: relative;
}
.sudan1{
    background-color: #EF3340;
    width: 100%;
    height: 33.3%;
}
.sudan2{
    width: 100%;
    height: 33.3%;
    background-color: #FFFFFF;
}
.sudan3{
    width: 100%;
    height: 33.3%;
    background-color: #000000;
}
.sudan{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 4.7rem solid transparent;
    border-left: 5rem solid #009639;
    border-bottom: 4.7rem solid transparent;
}
/* Liberia flag */
#Liberia{
    position: relative;
}
.liberia{
    position: absolute;
    height: 8.1%;
    width: 100%;
    background-color: #EF3340;
}
.liberia1{
    position: absolute;
    top: 19%;
    height: 8.1%;
    width: 100%;
    background-color: #EF3340;
}
.liberia2{
    position: absolute;
    top: 38%;
    height: 8.1%;
    width: 100%;
    background-color: #EF3340;
}
.liberia3{
    position: absolute;
    top: 55%;
    height: 8.1%;
    width: 100%;
    background-color: #EF3340;
}
.liberia4{
    position: absolute;
    top: 74%;
    height: 8.1%;
    width: 100%;
    background-color: #EF3340;
}
.liberia5{
    position: absolute;
    top: 92%;
    height: 8.1%;
    width: 100%;
    background-color: #EF3340;
}
.liberia6{
    position: absolute;
    left: 0;
    width: 3.75rem;
    height: 4.2rem;
    border: 1px solid #00205B;
    background-color: #00205B;
}
.liberia7{
    position: absolute;
    top: -13px;
    left: 0;
    font-size: 4rem;
    color: #FFFFFF;
}
/* Kuwait flag */
#Kuwait{
    position: relative;
}
.kuwait{
    width: 100%;
    height: 33.3%;
    background-color: #00965E;
}
.kuwait1{
    width: 100%;
    height: 33.3%;
    background-color: #ffffff;
}
.kuwait2{
    width: 100%;
    height: 33.3%;
    background-color: #C8102E;
}
.kuwait3{
    position: absolute;
    top: 0;
    left: 0;
    border-left: 3.125rem solid #000000;
    border-bottom: 3.3rem solid transparent;
    border-top: 3rem solid transparent;
    height: 33.3%;
    width: 0;
}
/* Israel flag */
.Israel1{
    width: 100%;
    height: 25%;
    background-color: #005EB8;
}
.Israel2{
    position: relative;
    width: 100%;
    height: 50%;
    background-color: #ffffff;
}
.Israel3{
    width: 100%;
    height: 25%;
    background-color: #005EB8;
}
.Israel4{
    position: absolute;
    color: #005EB8;
    font-size: 5rem;
    top: -1.3rem;
    left: 4rem;
}
/* Congo Flag */
#Congo{
    position: relative;
    background-color: #FFD100;
}
.congo1{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 8rem solid #009639;
    border-bottom: 9.5rem solid transparent;
}
.congo2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 8rem solid transparent;
    border-bottom: 9.5rem solid #EF3340;
}
#AllFlags{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}






