table{
    margin: 33.3%;
    width: 33.3%;
    border-collapse: collapse;
    
    background-color: #fbf9f4;
}
td{
    width: 33.3%;
    border: 2px solid #222;
}
td::after{
    content: "";
    display: block;
    margin-top: 100%;
}
td:first-of-type{
    border-left-color: transparent;
    border-top-color: transparent;
}
td:nth-of-type(2){
    border-top-color: transparent;
}
td:nth-of-type(3){
    border-top-color: transparent;
    border-right-color: transparent;
}
tr:nth-of-type(3)>td{
    border-bottom-color: transparent;
}

