body{
    padding: 0;
    margin: 0;
    background-color: #fbf9f4;
}
/* Index.html css */
.div{
    border: 2px solid transparent;
    margin: 1% 3% 0% 3%;
    border-bottom: 1px solid black;
}
.div>ul{
    justify-content: center;
    display: flex;
    list-style-type: none;
}
.div>ul>li{
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    color: white;
    text-align: center;
}
.div>ul>li>a{
    text-decoration: none;
}
#whole{
    border: 2px solid transparent;
    display: flex;
    margin: 0% 3% 1% 3%;
    border-bottom: 1px solid black;
}
#hobbies{
    border: 2px solid transparent;
    flex: 1;
}
#work{
    border: 2px solid transparent;
    flex: 1;
}
#work>div,#Skills>div{
    padding: 0 3% 3% 3%;
    
}
#Skills{
    border: 2px solid transparent;
    flex: 1;
}
.head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
}
.exp,.ability{
    padding: 1%;
}
.exp>label,.ability>label{
    padding: 2%;
}
.exp>label[for="job"]{
    padding: 20%;
}
#hobbies,#work,#Skills{
    padding: 1%;
}
#hobbies>div>ul>li{
    list-style-type: none;
    padding: 0.5%;
}
#hobbies>div>ul>li>ul>li{
    list-style-type: none;
    padding: 0.5%;
}
.copyright{
    text-align: center;
}
/* Contact.html css */



#about{
    display: flex;
    border-top: 1px solid rgb(0, 0,0);
    margin: 0% 3% 0% 3%;
    border: 2px solid transparent;
    padding: 1%;
    border-bottom: 1px solid black;
}
#sador{
    margin-right: 2%;
    flex: 1;
    border: 2px solid transparent;
    padding: 3%;
}
#sador>img{
    width: 90%;
    height: 90%;
}
#talk{
    flex: 2;
    padding: 2%;
    border: 2px solid transparent;
}
#talk>p{
    padding: 0.5%;
    font-style: oblique;
    font-size: 20px;
}
#formation{
    display: flex;
    margin: 0.5% 3% 3% 3%;
    border: 2px solid transparent;
    padding: 1%;
    position: relative;
    border-bottom: 1px solid black;
    margin-bottom: 0%;
}
#comment{
    margin-right: 2%;
    flex: 1;
    border: 2px solid transparent;
    padding: 0% 3% 3% 3%;
    /* margin-bottom: 0.5%; */
}
#map{
    flex: 1;
    padding: 3%;
    border: 2px solid transparent;
}
.form2,.form3{
    padding: 3%;
    display: block;
}
.form2>label{
    padding-right: 5%;
}
.form2>input[type="email"]{
    margin: 6%;
}
.form2>input[type="text"],.form2>input[type="email"],.form2>input[type="password"]{
    border-radius: 10px;
    height: 30px;
}
.form2>select[name="Continent"]{
    width: 61%;
    height: 30px;
    border-radius: 10px;
}
.form2>textarea{
    border-radius: 10px;
}
.form2>select[name="Rating"]{
    width: 27%;
}

.form2>input[type="password"]{
    margin: 2%;
}
.form3>input[type="url"]{
    border-radius: 10px;
    margin-top: 5%;
    width: 80%;
}
input[type="submit"]{
    margin-top: 10%;
    margin-left: 57%;
    width: 50%;
    height: 30px;
}
#comment>form>table{
    padding: 2%;
}
/* Gallery.html css */


#tag{
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-style: italic;
    border-bottom: 1px solid rgb(0, 0,0);
}
.images{
    margin-left: 1%;
    margin-right: 1%;
}
.col1>img,.col2>img,.col3>img{
    width: 100%;
    height: 300px;
}
.col1,.col2,.col3{
    margin: 1.66%;
    width: 30%;
    float: left;
}
.row1::after,.row2::after,.row3::after{
    content: "";
    clear: left;
}

.div>ul>li,header>nav>ul>li{
    /* display: inline-block; */
}
.div>ul>li a,header>nav>ul>li>a{
    /* padding: 10px; */
    /* text-decoration: none; */
    /* display: inline-block; */
}
.bottom,.copyright,#cop{
    margin: 1% 3% 1% 3%;
    padding: 1%;
    border: 1px solid transparent;
    border-bottom: 1px solid black;
}
#foo{
    margin-left: 3%;
    margin-right: 3%;
    border-top: 1px solid rgb(0, 0,0);
    padding: 2%;
    clear: left;
    border-bottom: 1px solid rgb(0, 0,0);
}
#foo>a,.bottom>a{
    padding: 30px;
    text-decoration: none;
}
.div>ul>li:hover{
    /* background-color: ; */
}
.title{
    /* border-top: 1px solid rgb(0, 0,0); */
    padding-top: 20px;
    padding-bottom: 20px;
}
#content{
    margin: 3%;
}




