body{
    padding: 0;
    margin: 0;
    background-color: #fbf9f4;
}
#hobbies,#work,#Skills,#bottom,#copyright{
    padding: 10px;
    margin: 30px;
    border: 2px solid transparent;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-bottom: 1px solid black;
}
#hobbies>ul>li{
    list-style-type: none;
    padding: 5px;
}
#hobbies>ul>li>ul>li{
    list-style-type: none;
    padding: 5px;
}

#work>table,#Skills>table{
    border-spacing: 10px;
}
#copyright{
    text-align: center;
}
#tag{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-top: 1px solid rgb(0, 0,0);
    border-bottom: 1px solid rgb(0, 0,0);
}
.div>ul>li,header>nav>ul>li{
    display: inline-block;
}
.div>ul>li a,header>nav>ul>li>a{
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}
img{
    float: left;
    width: 30%;
    margin-right:1.6%;
    margin-left:1.6%;    
    padding-bottom: 20px;
}

#foo{

    border-top: 1px solid rgb(0, 0,0);
    padding-top: 20px;
    padding-bottom: 20px;
    clear: left;
    /* margin-top: 850px; */
    border-bottom: 1px solid rgb(0, 0,0);
}
#foo>a{
    padding: 30px;
    text-decoration: none;
}
.div>ul>li:hover{
    background-color: ;
}
.title{
    border-top: 1px solid rgb(0, 0,0);
    padding-top: 20px;
    padding-bottom: 20px;
}




